<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018372435825-nco1t4evo9cqff0hs9tlj70s1v3mdecm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018372435825-nco1t4evo9cqff0hs9tlj70s1v3mdecm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1018372435825-9v5417v3356o3u30pqe1o7dr9o7j2ofp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCY39WfcV91imXiru2NAFwKdzqUaUlIY58</string>
	<key>GCM_SENDER_ID</key>
	<string>1018372435825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tml.flutterfirelab</string>
	<key>PROJECT_ID</key>
	<string>tml-sandbox</string>
	<key>STORAGE_BUCKET</key>
	<string>tml-sandbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018372435825:ios:06903ac2ce7fb5b55510d0</string>
	<key>DATABASE_URL</key>
	<string>https://tml-sandbox-default-rtdb.firebaseio.com</string>
</dict>
</plist>